@page {
  margin-bottom: 5pt;
  margin-top: 5pt;
}

body {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: 50px auto 0 auto;
  background-color: #232323;
  background-image: url(bg_dark.gif);
  background-repeat: repeat;
  color: rgba(255, 255, 255, 0.6);
  padding: 20px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
}

a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  text-decoration: none;
  margin: 10px;
}

h1, h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}
